body {
    margin: 0;
}

.urna {
    background-color: white;
    padding: 30px;
}

.tela {
    width: 450px;
    height: 320px;
    background: linear-gradient(to right, gray, gray);
}

.teclado {
    background-color: rgba(12, 9, 9, 0.787);
}